<div class="card">
  <div class="card-body">
    <div class="border-bottom mb-3 pb-3">
      <h4>Profile Settings</h4>
    </div>
    <form>
      <div class="border-bottom mb-3">
        <div class="row">
                  <div class="col-md-6">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label [htmlFor]="" class="form-label mb-md-3">OpenAI API key</label>
              </div>
              <div class="col-md-8">
                <div class="mb-3">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-outline-light border me-3">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
