		<!-- Two Col Sidebar -->
		<div class="two-col-sidebar" id="two-col-sidebar"  (mouseover)="miniSideBarMouseHover('over')"
    (mouseout)="miniSideBarMouseHover('out')" (focus)="miniSideBarFocus('over')" (blur)="miniSideBarBlur('out')">
			<div class="sidebar sidebar-twocol">
				<div class="twocol-mini">
					<a [routerLink]="routes.index" class="logo-small">
						<img src="assets/img/logo-small.svg" alt="Logo">
					</a>
					<div class="sidebar-left slimscroll">
            <ng-scrollbar>
              <div class="nav flex-column align-items-center nav-pills" id="sidebar-tabs" role="tablist"
                aria-orientation="vertical">
                <!-- <a href="javascript:void(0);" class="nav-link active" title="Dashboard" data-bs-toggle="tab" data-bs-target="#dashboard">
                  <i class="ti ti-smart-home"></i>
                </a> -->
                @for (mainTittle of side_bar_data; track mainTittle) { 
                  <a href="javascript:void(0);" class="nav-link" [class.active]="base == mainTittle.ids " [href]="'#'+ mainTittle.ids"  data-bs-toggle="tab" [attr.data-bs-target]="'#'+ mainTittle.ids"  role="tab" aria-selected="true" >
                    <i class="ti " [class]="'ti-' + mainTittle.icon"></i>
                   
                  </a>
                }
              </div>
            </ng-scrollbar>
					</div>
				</div>
				<div class="sidebar-right">
					<div class="sidebar-logo mb-4">
						<a [routerLink]="routes.index" class="logo logo-normal">
							<img src="assets/img/logo.svg" alt="Logo">
						</a>
						<a [routerLink]="routes.index" class="dark-logo">
							<img src="assets/img/logo-white.svg" alt="Logo">
						</a>
					</div>
					<div class="sidebar-scroll">
						<h6 class="mb-3">Welcome to SmartHR</h6>
						<div class="text-center rounded bg-light p-3 mb-4">
							<div class="avatar avatar-lg online mb-3">
								<img src="assets/img/profiles/avatar-02.jpg" alt="Img" class="img-fluid rounded-circle">
							</div>
							<h6 class="fs-12 fw-normal mb-1">Adrian Herman</h6>
							<p class="fs-10">System Admin</p>
						</div>
						<div class="tab-content" id="v-pills-tabContent">
            @for (mainTittle of side_bar_data; track mainTittle) {
              <div class="tab-pane fade" [id]="mainTittle.ids" [class]="base === mainTittle.ids ? 'show active' : ''" role="tabpanel">
							<ul>

                  <li class="menu-title">
                    <span>{{ mainTittle.menuValue }}</span>

                  </li>
                        @if (mainTittle?.hasSubRoute === false) {

                        <li >
                          <a routerLinkActive="active" [routerLink]="mainTittle?.route"><i [class]="'ti ti-' + mainTittle.icon"></i>
                            <span>{{ mainTittle?.menuValue }}</span>
                            @if (mainTittle.changeLogVersion === true) {
                            <span class="badge badge-primary ms-auto">v4.1.2</span>
                            }
                          </a>
                        </li>
                        }
                        @if (mainTittle.hasSubRoute === true) {

                            @for (subMenus of mainTittle.subMenus; track subMenus) {
                            <li>
                              <a [routerLink]="subMenus.route"
                                [class.active]=" base === subMenus.base || page === subMenus.base">
                                @if (subMenus.currentActive === true) {
                                <span class="badge rounded-pill bg-primary float-end">1</span>
                                }
                                {{ subMenus.menuValue }}</a>
                            </li>
                            }
                        }
                        @if (mainTittle.hasSubRouteTwo === true) {

                            @for (subMenus of mainTittle.subMenus; track subMenus) {
                            @if (subMenus.customSubmenuTwo === false) {
                            <li>
                              <a [class.active]="page === subMenus.base" [routerLink]="subMenus.route">{{ subMenus.menuValue }}</a>
                            </li>
                            }

                            @if (subMenus.customSubmenuTwo === true) {
                            <li class="submenu submenu-two">
                              <a href="javascript:void(0);" [class.active]="base === subMenus.base || base === subMenus.base2 "
                                (click)="openSubmenuOne(subMenus)" [ngClass]="{'subdrop' : openSubmenuOneItem === subMenus}">
                                {{ subMenus.menuValue }}
                                <span class="menu-arrow inside-submenu"></span>
                              </a>
                              <ul [ngClass]="openSubmenuOneItem === subMenus ? 'd-block' : 'd-none'">
                                @for (subMenuTwo of subMenus.subMenusTwo; track subMenuTwo) {
                                <li>
                                  <a [class.active]="last === subMenus.base || base === subMenus.base2" [routerLink]="subMenuTwo.route">{{ subMenuTwo.menuValue
                                    }}</a>
                                </li>
                                }
                              </ul>
                            </li>
                            }

                            }
                        }

                </ul>
                </div>
              }
            </div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Two Col Sidebar -->
