<div class="card">
  <div class="card-header px-0 mx-3">
      <h4>Language</h4>
  </div>
  <div class="card-body pb-0">
      <div class="card mb-3">
          <div class="card-header">
              <div class="row align-items-center g-3">
                  <div class="col-sm-5">
                      <h6>Language</h6>
                  </div>
                  <div class="col-sm-7">
                      <div class="d-flex align-items-center justify-content-sm-end flex-wrap row-gap-2">
                          <a [routerLink]="routes.language" class="btn btn-sm btn-primary d-inline-flex align-items-center me-3">
                              <i class="ti ti-arrow-left me-2"></i>
                              Back to Translations
                          </a>
                          <a href="javascript:void(0);" class="btn btn-sm btn-outline-dark d-inline-flex align-items-center me-3">
                              <img src="assets/img/flags/ae.png" class="me-2 avatar avatar-sm avatar-rounded" alt="Img">
                              Arabic
                          </a>
                          <div class="flex-shrink-0 flex-fill">
                              <span class="d-block">Progress</span>
                              <div class="d-flex align-items-center">
                                  <div class="progress progress-xs w-100">
                                      <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <span class="d-inline-flex fs-12 ms-2">80%</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-body p-0">
              <div class="table-responsive">
                  <table class="table">
                      <thead class="thead-light">
                          <tr>
                              <th class="w-50">English</th>
                              <th class="w-50">Arabic</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Name</td>
                              <td><input type="text" class="form-control text-end" value="اسم"></td>
                          </tr>
                          <tr>
                              <td>Email</td>
                              <td><input type="text" class="form-control text-end" value="عنوان البريد الإلكتروني"></td>
                          </tr>
                          <tr>
                              <td>Phone</td>
                              <td><input type="text" class="form-control text-end" value="هاتف"></td>
                          </tr>
                          <tr>
                              <td>Designation</td>
                              <td><input type="text" class="form-control text-end" value="تعيين">                                   </tr>
                          <tr>
                              <td>Joining Date</td>
                              <td><input type="text" class="form-control text-end" value="تاريخ الانضمام"></td>
                          </tr>
                          <tr>
                              <td>Status</td>
                              <td><input type="text" class="form-control text-end" value="حالة"></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
