<div class="page-wrapper">
    <div class="content">

        <!-- Breadcrumb -->
        <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
            <app-breadcrumbs title="Pages" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
                <div class="mb-2">
                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_page" class="btn btn-primary d-flex align-items-center"><i class="ti ti-circle-plus me-2"></i>Add Page</a>
                </div>
                <div class="ms-2 head-icons" tabindex="0">
                <app-collapse-header/>
            </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
                <h5>Pages List</h5>
            </div>
            <div class="card-body p-0">
                <div class="custom-datatable-filter table-responsive">
                    <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length">
                                <label> Row Per Page
                                @if(tableData.length > 0) {
                  <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize(pageSize)" class="form-select form-select-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                }
                                Entries
                                </label>
                            </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <label>
                                    <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }"
                                        (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control form-control-sm"
                                        placeholder="Search..." />
                                </label>
                            </div>
                        </div>
                        </div>
                        <div class=" table-responsive">
                            <table matSort (matSortChange)="sortData($event)" class="mat-sort table datanew table-center datatable dataTable  mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="no-sort">
                                            <div class="form-check form-check-md" (click)="selectAll(initChecked)" (keydown.enter)="selectAll(initChecked)" tabindex="0">
                                                <input class="form-check-input" type="checkbox" id="select-all" [(ngModel)]="initChecked">
                                            </div>
                                        </th>
                                        <th mat-sort-header="Page">Page</th>
                                        <th mat-sort-header="PageSlug">Page Slug</th>
                                        <th mat-sort-header="Status">Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (data of tableData; track data) {
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-md">
                                                <input class="form-check-input" type="checkbox"  [(ngModel)]="data.isSelected">
                                            </div>
                                        </td>
                                        <td>
                                            <h6 class="fw-medium"><a href="javascript:void(0);">{{data.Page}}</a></h6>
                                        </td>
                                        <td>{{data.PageSlug}}</td>
                                        <td>
                                            <span class="badge d-inline-flex align-items-center badge-xs" [ngClass]="data.Status === 'Active'? 'badge-success':'badge-danger'">
                                                <i class="ti ti-point-filled me-1"></i>{{data.Status}}
                                            </span>
                                        </td>
                                        <td>
                                            <div class="action-icon d-inline-flex">
                                                <a href="javascript:void(0);" class="me-2" data-bs-toggle="modal" data-bs-target="#edit_page"><i class="ti ti-edit"></i></a>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                    @if (tableData.length === 0) {
                                    <tr>
                                        <td colspan="8">
                                            <h5 class="no-record">No matching records found</h5>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <app-custom-pagination></app-custom-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</div>
        <!-- Add Pages -->
        <div class="modal fade" id="add_page">
            <div class="modal-dialog modal-dialog-centered modal-mg w-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Pages</h4>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
                    </div>
                    <form >
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">Title</label>
										<input type="text" class="form-control">
									</div>									
								</div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Slug</label>
                                        <input type="text" class="form-control">
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <textarea rows="3" class="form-control"></textarea>
                                    </div>									
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Keywords</label>
                                        <input type="text" class="form-control">
                                    </div>											
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Location</label>
                                        <p-chips class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="values1"></p-chips>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label [htmlFor]="" class="form-label">Visibility</label>
                                        <mat-select placeholder="Select"  class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="2">Show</mat-option>
                                            <mat-option value="3">Hide</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <textarea rows="3" class="form-control"></textarea>
                                    </div>									
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label [htmlFor]="" class="form-label">Status</label>
                                        <mat-select placeholder="Select"  class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="2">Active</mat-option>
                                            <mat-option value="3">Inactive</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add Page</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Add Pages -->

        <!-- Edit Pages -->
        <div class="modal fade" id="edit_page">
            <div class="modal-dialog modal-dialog-centered modal-mg w-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Pages</h4>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
                    </div>
                    <form >
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">Title</label>
										<input type="text" class="form-control" value="Employee">
									</div>									
								</div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Slug</label>
                                        <input type="text" class="form-control" value="employee">
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <textarea rows="3" class="form-control"></textarea>
                                    </div>									
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Keywords</label>
                                        <input type="text" class="form-control">
                                    </div>											
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Location</label><p-chips class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="values1"></p-chips>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label [htmlFor]="" class="form-label">Visibility</label>
                                        <mat-select placeholder="Show"  class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="2">Show</mat-option>
                                            <mat-option value="3">Hide</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <textarea rows="3" class="form-control"></textarea>
                                    </div>									
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label [htmlFor]="" class="form-label">Status</label>
                                        <mat-select placeholder="Active"  class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="2">Active</mat-option>
                                            <mat-option value="3">Inactive</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Edit Pages -->

        