        <!-- Add City -->
        <div class="modal fade" id="add_cities">
            <div class="modal-dialog modal-dialog-centered modal-mg w-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add City</h4>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">City Name</label>
										<input type="text" class="form-control">
									</div>									
								</div>
                                <div class="col-md-12">	
                                    <div class="mb-3">
                                        <label class="form-label">State Name</label>
                                        <mat-select placeholder="Select" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">California</mat-option>
                                            <mat-option value="1">New York</mat-option>
                                            <mat-option value="1">Texas</mat-option>
                                        </mat-select>
                                    </div>								
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Country Name</label>
                                        <mat-select placeholder="Select" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">United States</mat-option>
                                            <mat-option value="1">Germany</mat-option>
                                            <mat-option value="1">Canada</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Status</label>
                                        <mat-select placeholder="Select" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="1">Inactive</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add City</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Add City -->

        <!-- Edit City -->
        <div class="modal fade" id="edit_cities">
            <div class="modal-dialog modal-dialog-centered modal-mg w-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit City</h4>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">City Name</label>
										<input type="text" class="form-control" value="Los Angeles">
									</div>									
								</div>
                                <div class="col-md-12">	
                                    <div class="mb-3">
                                        <label class="form-label">State Name</label>
                                        <mat-select placeholder="California" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">California</mat-option>
                                            <mat-option value="1">New York</mat-option>
                                            <mat-option value="1">Texas</mat-option>
                                        </mat-select>
                                    </div>								
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Country Name</label>
                                        <mat-select placeholder="United States" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">United States</mat-option>
                                            <mat-option value="1">Germany</mat-option>
                                            <mat-option value="1">Canada</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Status</label>
                                        <mat-select placeholder="Active" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="1">Inactive</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Edit City -->

        <!-- Add Country -->
        <div class="modal fade" id="add_countries">
            <div class="modal-dialog modal-dialog-centered modal-mg w-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Country</h4>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">Country Name</label>
										<input type="text" class="form-control">
									</div>									
								</div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Country Code</label>
                                        <input type="text" class="form-control">
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Status</label>
                                        <mat-select placeholder="Select" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="1">Inactive</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add Country</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Add Country -->

        <!-- Edit Country -->
        <div class="modal fade" id="edit_countries">
            <div class="modal-dialog modal-dialog-centered modal-mg w-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Country</h4>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">State Name</label>
										<input type="text" class="form-control" value="United States">
									</div>									
								</div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Country Name</label>
                                        <input type="text" class="form-control" value="US">
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Status</label>
                                        <mat-select placeholder="Active" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="1">Inactive</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Edit Country -->

        <!-- Add City -->
        <div class="modal fade" id="add_state">
            <div class="modal-dialog modal-dialog-centered modal-mg w-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add State</h4>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">State Name</label>
										<input type="text" class="form-control">
									</div>									
								</div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Country Name</label>
                                        <mat-select placeholder="Select" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">United States</mat-option>
                                            <mat-option value="1">Germany</mat-option>
                                            <mat-option value="1">Canada</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Status</label>
                                        <mat-select placeholder="Select" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="1">Inactive</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add State</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Add City -->

        <!-- Edit City -->
        <div class="modal fade" id="edit_state">
            <div class="modal-dialog modal-dialog-centered modal-mg w-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit State</h4>
                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">State Name</label>
										<input type="text" class="form-control" value="California">
									</div>									
								</div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Country Name</label>
                                        <mat-select placeholder="United States" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">United States</mat-option>
                                            <mat-option value="1">Germany</mat-option>
                                            <mat-option value="1">Canada</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Status</label>
                                        <mat-select placeholder="Active" class="select custom-mat-select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="1">Inactive</mat-option>
                                        </mat-select>
                                    </div>											
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Edit City -->

	