<div class="content">
    
    <!-- Breadcrumb -->
    <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
    <app-breadcrumbs title="Leave Settings" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap ">
    
    <div class="mb-2">
        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#new_custom_policy" class="btn btn-primary d-flex align-items-center"><i class="ti ti-circle-plus me-2"></i>Add Custom Policy</a>
    </div>
    <div class="ms-2 head-icons" tabindex="0">
                <app-collapse-header/>
            </div>
    </div>
    </div>
    <!-- /Breadcrumb -->


    <!-- Leaves Info -->
     <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">									
                        <div class="form-check form-check-md form-switch me-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" role="switch" checked>                                           
                            </label>
                        </div>
                        <h6 class="d-flex align-items-center">Annual Leave</h6>
                    </div>  
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0);" class="text-decoration-underline me-2" data-bs-toggle="modal" data-bs-target="#add_custom_policy">Custom Policy</a>
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#annual_leave_settings"> <i class="ti ti-settings"></i> </a>
                    </div>                              
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">									
                        <div class="form-check form-check-md form-switch me-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" role="switch">                                           
                            </label>
                        </div>
                        <h6 class="d-flex align-items-center">Sick Leave</h6>
                    </div>  
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0);" class="text-decoration-underline me-2" data-bs-toggle="modal" data-bs-target="#annual_leave_settings">Custom Policy</a>
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#sick_leave_settings"> <i class="ti ti-settings"></i> </a>
                    </div>                              
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">									
                        <div class="form-check form-check-md form-switch me-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" role="switch" checked>                                           
                            </label>
                        </div>
                        <h6 class="d-flex align-items-center">Hospitalisation</h6>
                    </div>  
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0);" class="text-decoration-underline me-2" data-bs-toggle="modal" data-bs-target="#annual_leave_settings">Custom Policy</a>
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#hospitalisation_settings"><i class="ti ti-settings"></i> </a>
                    </div>                              
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">									
                        <div class="form-check form-check-md form-switch me-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" role="switch" checked>                                           
                            </label>
                        </div>
                        <h6 class="d-flex align-items-center">Maternity</h6>
                    </div>  
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0);" class="text-decoration-underline me-2" data-bs-toggle="modal" data-bs-target="#annual_leave_settings">Custom Policy</a>
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#maternity_settings"> <i class="ti ti-settings"></i> </a>
                    </div>                              
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">									
                        <div class="form-check form-check-md form-switch me-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" role="switch">                                           
                            </label>
                        </div>
                        <h6 class="d-flex align-items-center">Paternity</h6>
                    </div>  
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0);" class="text-decoration-underline me-2" data-bs-toggle="modal" data-bs-target="#annual_leave_settings">Custom Policy</a>
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#paternity_settings"> <i class="ti ti-settings"></i> </a>
                    </div>                              
                </div>
            </div>
        </div>				
        <div class="col-xl-4 col-md-6">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">									
                        <div class="form-check form-check-md form-switch me-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" role="switch">                                           
                            </label>
                        </div>
                        <h6 class="d-flex align-items-center">LOP</h6>
                    </div>  
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0);" class="text-decoration-underline me-2" data-bs-toggle="modal" data-bs-target="#annual_leave_settings">Custom Policy</a>
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#lop_settings"> <i class="ti ti-settings"></i> </a>
                    </div>                              
                </div>
            </div>
        </div>								
     </div>
     <!-- /Leaves Info -->

</div>