<div class="row">
  <div class="col-xl-3 theiaStickySidebar">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column list-group settings-list">
          <a [routerLink]="routes.profileSettings" class="d-inline-flex align-items-center rounded  py-2 px-3">Profile Settings</a>
          <a [routerLink]="routes.securitySettings" class="d-inline-flex align-items-center rounded py-2 px-3">Security Settings</a>
          <a [routerLink]="routes.notificationSettings" class="d-inline-flex align-items-center rounded active py-2 px-3"><i class="ti ti-arrow-badge-right me-2"></i>Notifications</a>
          <a [routerLink]="routes.connectedApps" class="d-inline-flex align-items-center rounded py-2 px-3">Connected Apps</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <div class="border-bottom mb-3 pb-3">
          <h4>Notifications</h4>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="w-75 ps-2 border-0">Modules</th>
                <th class="border-0">Push</th>
                <th class="border-0">SMS</th>
                <th class="pe-0 border-0">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ps-0">
                  <h5 class="mb-1 fw-medium">New Hire and Onboarding Notifications</h5>
                  <p>Alerts when a new hire is added to the system.</p>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td class="pe-0">
                  <div class="form-check form-check-md form-switch">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ps-0">
                  <h5 class="mb-1 fw-medium">Time Off and Leave Requests</h5>
                  <p>Notifications when leave requests are approved or rejected.</p>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td class="pe-0">
                  <div class="form-check form-check-md form-switch">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ps-0">
                  <h5 class="mb-1 fw-medium">Employee Performance and Review Updates</h5>
                  <p>Notifications when leave requests are approved or rejected.</p>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td class="pe-0">
                  <div class="form-check form-check-md form-switch">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ps-0">
                  <h5 class="mb-1 fw-medium">Payroll and Compensation</h5>
                  <p>Alerts when payroll is processed or pending approval.</p>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td class="pe-0">
                  <div class="form-check form-check-md form-switch">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ps-0">
                  <h5 class="mb-1 fw-medium">Job Applications and Recruitment</h5>
                  <p>Alerts for new applications or stage updates.</p>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-md form-switch me-2">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
                <td class="pe-0">
                  <div class="form-check form-check-md form-switch">
                    <input class="form-check-input me-2" type="checkbox" role="switch" checked>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
