<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content">

		<!-- Breadcrumb -->
		<div
			class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
			<div class="my-auto mb-2">
				<h2 class="mb-1">Campus Hiring</h2>
				<nav>
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item">
							<a [routerLink]="routes.index"><i class="ti ti-smart-home"></i></a>
						</li>
						<li class="breadcrumb-item">
							Recruitment
						</li>
						<li class="breadcrumb-item active" aria-current="page">Campus Hiring</li>
					</ol>
				</nav>
			</div>
			<div class="d-flex my-xl-auto right-content align-items-center flex-wrap ">
				<div class="mb-2 me-2">
					<div class="dropdown">
						<a href="javascript:void(0)"
							class="dropdown-toggle btn btn-white d-inline-flex align-items-center"
							data-bs-toggle="dropdown">
							<i class="ti ti-file-export me-1"></i>Export
						</a>
						<ul class="dropdown-menu  dropdown-menu-end p-3">
							<li>
								<a href="javascript:void(0)" class="dropdown-item rounded-1"><i
										class="ti ti-file-type-pdf me-1"></i>Export as PDF</a>
							</li>
							<li>
								<a href="javascript:void(0)" class="dropdown-item rounded-1"><i
										class="ti ti-file-type-xls me-1"></i>Export as Excel </a>
							</li>
						</ul>
					</div>

				</div>
				<div class="mb-2">
					<a href="javascript:void(0)" data-bs-toggle="modal"
						data-bs-target="#add_candidate"
						class="btn btn-primary d-flex align-items-center"><i
							class="ti ti-circle-plus me-2"></i>Add New Candidate</a>
				</div>
				<div class="head-icons ms-2">
					<app-collapse-header />
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<div class="card">
			<div
				class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
				<h5>Students List</h5>
				<div
					class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
					<div class="me-3">
						<div class="input-icon position-relative">
							<span class="input-icon-addon">
								<i class="ti ti-calendar text-gray-9"></i>
							</span>
							<app-date-range-picker />
						</div>
					</div>
					<div class="dropdown me-3">
						<a href="javascript:void(0);"
							class="dropdown-toggle btn btn-white d-inline-flex align-items-center"
							data-bs-toggle="dropdown">
							Role
						</a>
						<ul class="dropdown-menu  dropdown-menu-end p-3">
							<li>
								<a href="javascript:void(0);"
									class="dropdown-item rounded-1">Accountant</a>
							</li>
							<li>
								<a href="javascript:void(0);" class="dropdown-item rounded-1">App
									Developer</a>
							</li>
							<li>
								<a href="javascript:void(0);"
									class="dropdown-item rounded-1">Technician</a>
							</li>
							<li>
								<a href="javascript:void(0);" class="dropdown-item rounded-1">Web
									Developer</a>
							</li>
							<li>
								<a href="javascript:void(0);" class="dropdown-item rounded-1">Sales
									Executive Officer</a>
							</li>
						</ul>
					</div>
					<div class="dropdown me-3">
						<a href="javascript:void(0);"
							class="dropdown-toggle btn btn-white d-inline-flex align-items-center"
							data-bs-toggle="dropdown">
							Select Status
						</a>
						<ul class="dropdown-menu  dropdown-menu-end p-3">
							<li>
								<a href="javascript:void(0);"
									class="dropdown-item rounded-1">Applied</a>
							</li>
							<li>
								<a href="javascript:void(0);" class="dropdown-item rounded-1">In
									progress</a>
							</li>
							<li>
								<a href="javascript:void(0);"
									class="dropdown-item rounded-1">Selected</a>
							</li>
							<li>
								<a href="javascript:void(0);"
									class="dropdown-item rounded-1">Rejected</a>
							</li>
						</ul>
					</div>
					<div class="dropdown">
						<a href="javascript:void(0)"
							class="dropdown-toggle btn btn-white d-inline-flex align-items-center"
							data-bs-toggle="dropdown">
							Sort By : Last 7 Days
						</a>
						<ul class="dropdown-menu  dropdown-menu-end p-3">
							<li>
								<a href="javascript:void(0)" class="dropdown-item rounded-1">Recently
									Added</a>
							</li>
							<li>
								<a href="javascript:void(0)"
									class="dropdown-item rounded-1">Ascending</a>
							</li>
							<li>
								<a href="javascript:void(0)"
									class="dropdown-item rounded-1">Descending</a>
							</li>
							<li>
								<a href="javascript:void(0)" class="dropdown-item rounded-1">Last
									Month</a>
							</li>
							<li>
								<a href="javascript:void(0)" class="dropdown-item rounded-1">Last 7
									Days</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card-body p-0">
				<div class="custom-datatable-filter table-responsive">
					<div class="dataTables_wrapper dt-bootstrap5 no-footer">
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<div class="dataTables_length">
									<label>Row Per Page
										@if(tableData.length > 0) {
										<select [(ngModel)]="pageSize"
											(ngModelChange)="changePageSize(pageSize)"
											class="form-select form-select-sm">
											<option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
										}
										Entries
									</label>
								</div>
							</div>
							<div class="col-sm-12 col-md-6">
								<div id="DataTables_Table_0_filter" class="dataTables_filter">
									<label>
										<input [(ngModel)]="searchDataValue"
											[ngModelOptions]="{ standalone: true }"
											(ngModelChange)="searchData(searchDataValue)" type="search"
											class="form-control form-control-sm"
											placeholder="Search" />
									</label>
								</div>
							</div>
						</div>
						<div class=" table-responsive">
							<table matSort (matSortChange)="sortData($event)"
								class="mat-sort table datanew table-center datatable dataTable  mb-0">
								<thead class="thead-light">
									<tr>
										<th class="no-sort">
											<div class="form-check form-check-md"
												(click)="selectAll(initChecked)"
												(keydown.enter)="selectAll(initChecked)" tabindex="0">
												<input class="form-check-input" type="checkbox" id="select-all"
													[(ngModel)]="initChecked">
											</div>
										</th>
										<th mat-sort-header="name">Student Name</th>
										<th mat-sort-header="email">Branch</th>
										<th mat-sort-header="role">Graduation Year</th>
										<th mat-sort-header="assign">Job Role</th>
										<th mat-sort-header="resolve">Recruiter Name</th>
										<th mat-sort-header="Status">Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@for (data of tableData; track data.id) {
									<tr>
										<td>
											<div class="form-check form-check-md">
												<input class="form-check-input" type="checkbox"
													[(ngModel)]="data.isSelected">
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center file-name-icon">
												<a href="javascript:void(0)"
													class="avatar avatar-md border avatar-rounded">
													<img src="assets/img/users/{{data.image}}" class="img-fluid"
														alt="img">
												</a>
												<div class="ms-2">
													<a class="fw-medium fs-14">{{data.name}}</a>
													<span class="d-block">{{data.email}}</span>
												</div>
											</div>
										</td>
										<td>{{data.branch}}</td>
										<td>{{data.graduationYear}}</td>
										<td>{{data.jobRole}}</td>
										<td>
											<div class="d-flex align-items-center file-name-icon">
												<a href="javascript:void(0)"
													class="avatar avatar-md border avatar-rounded">
													<img src="assets/img/users/{{data.recruiterimage}}"
														class="img-fluid" alt="img">
												</a>
												<div class="ms-2">
													<a class="fw-medium fs-14">{{data.recruitername}}</a>
												</div>
											</div>
										</td>
										<td>
											<span
												class="badge border d-inline-flex align-items-center badge-xs"
												[class]="data.status == 'Applied'?' border-purple text-purple':
												data.status == 'Shortlisted'?' border-pink text-pink': data.status == 'In progress'?' border-info text-info': data.status == 'Rejected'?' border-danger text-danger':' border-success text-success'">
												<i class="ti ti-point-filled me-1"></i>{{data.status}}
											</span>
										</td>
										<td>
											<div class="action-icon d-inline-flex">
												<a href="javascript:void(0)" class="me-2" data-bs-toggle="modal"
													data-bs-target="#edit_candidate"><i class="ti ti-edit"></i></a>
												<a href="javascript:void(0)" class="me-2" data-bs-toggle="modal"
													data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
											</div>
										</td>
									</tr>
									}
									@if (tableData.length === 0) {
									<tr>
										<td colspan="9">
											<h5 class="no-record">No matching records found</h5>
										</td>
									</tr>
									}
								</tbody>
							</table>
						</div>
						<app-custom-pagination></app-custom-pagination>
					</div>
				</div>
			</div>
		</div>

	</div>

	<app-footer />

</div>
<!-- /Page Wrapper -->

<!-- Add Company -->
<div class="modal fade" id="add_candidate">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add New Candidate</h4>
				<button type="button" class="btn-close custom-btn-close"
					data-bs-dismiss="modal" aria-label="Close">
					<i class="ti ti-x"></i>
				</button>
			</div>
			<form>
				<div class="modal-body pb-0">
					<div class="row">
						<div class="col-md-12">
							<div
								class="d-flex align-items-center flex-wrap row-gap-3 bg-light w-100 rounded p-3 mb-4">
								<div
									class="d-flex align-items-center justify-content-center bg-white border avatar avatar-xxl rounded-circle me-2 flex-shrink-0 text-dark frames">
									<i class="ti ti-user-plus text-gray-6 fs-18"></i>
								</div>
								<div class="profile-upload">
									<div class="mb-2">
										<h6 class="mb-1">Upload Profile Image</h6>
										<p class="fs-12">Image should be below 4 mb</p>
									</div>
									<div class="profile-uploader d-flex align-items-center">
										<div class="drag-upload-btn btn btn-sm btn-primary me-2">
											Upload
											<input type="file" class="form-control image-sign" multiple>
										</div>
										<a href="javascript:void(0);" class="btn btn-light btn-sm">Cancel</a>
									</div>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Name <span class="text-danger">
										*</span></label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Email Address</label>
								<input type="email" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Branch</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Graduatation Year<span class="text-danger">
										*</span></label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Job Role</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Recruiter Name</label>
								<input type="text" class="form-control">
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light me-2"
						data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Add Candidate</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /Add Company -->

<!-- Edit Company -->
<div class="modal fade" id="edit_candidate">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Edit Candidate</h4>
				<button type="button" class="btn-close custom-btn-close"
					data-bs-dismiss="modal" aria-label="Close">
					<i class="ti ti-x"></i>
				</button>
			</div>
			<form>
				<div class="modal-body pb-0">
					<div class="row">
						<div class="col-md-12">
							<div
								class="d-flex align-items-center flex-wrap row-gap-3 bg-light w-100 rounded p-3 mb-4">
								<div
									class="d-flex align-items-center justify-content-center avatar avatar-xxl rounded-circle border border-dashed me-2 flex-shrink-0 text-dark frames">
									<img src="assets/img/profiles/avatar-30.jpg" alt="img"
										class="rounded-circle">
								</div>
								<div class="profile-upload">
									<div class="mb-2">
										<h6 class="mb-1">Upload Profile Image</h6>
										<p class="fs-12">Image should be below 4 mb</p>
									</div>
									<div class="profile-uploader d-flex align-items-center">
										<div class="drag-upload-btn btn btn-sm btn-primary me-2">
											Upload
											<input type="file" class="form-control image-sign" multiple>
										</div>
										<a href="javascript:void(0);" class="btn btn-light btn-sm">Cancel</a>
									</div>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Name <span class="text-danger">
										*</span></label>
								<input type="text" class="form-control" value="Vaughan Lewis">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Email Address</label>
								<input type="email" class="form-control" value="vaughan@example.com">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Branch</label>
								<input type="text" class="form-control" value="B.Tech/IT">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Graduatation Year<span class="text-danger">
										*</span></label>
								<input type="text" class="form-control" value="2024">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Job Role</label>
								<input type="text" class="form-control" value="App Developer">
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label">Recruiter Name</label>
								<input type="text" class="form-control" value="Doglas Martini">
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light me-2"
						data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /Add Company -->

<!-- Delete Modal -->
<div class="modal fade" id="delete_modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body text-center">
				<span class="avatar avatar-xl bg-transparent-danger text-danger mb-3">
					<i class="ti ti-trash-x fs-36"></i>
				</span>
				<h4 class="mb-1">Confirm Delete</h4>
				<p class="mb-3">You want to delete all the marked items, this cant be undone
					once you delete.</p>
				<div class="d-flex justify-content-center">
					<a href="javascript:void(0)" class="btn btn-light me-3"
						data-bs-dismiss="modal">Cancel</a>
					<a href="javascript:void(0)" class="btn btn-danger">Yes, Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Delete Modal -->