<div class="page-wrapper vh-100 d-flex flex-column justify-content-between">
  <div class="content flex-fill h-100">

    <!-- Breadcrumb -->
    <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
      <app-breadcrumbs title="Starter" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
      <div class="ms-2 head-icons" tabindex="0">
                <app-collapse-header/>
            </div>
    </div>
    <!-- /Breadcrumb -->

  </div>
  <app-footer></app-footer>
</div>
