<div class="card">
  <div class="card-body">
      <div class="border-bottom mb-3 pb-3">
          <h4>GDPR Cookies</h4>
      </div>
      <form>
          <div class="border-bottom mb-3">
              <div class="row">
<div class="col-md-12">
                      <div class="row align-items-center">
<div class="col-lg-4">
  <div class="mb-3">
    <h6 class="fw-medium">Cookies Consent Text</h6>
  </div>
</div>
<div class="col-lg-8">
  <div class="mb-3">
    <div class="summernote">
      <ngx-editor [editor]="editor">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
      </ngx-editor>
    </div>

  </div>
</div>
</div>
<div class="row align-items-center">
<div class="col-lg-4">
  <div class="mb-3">
    <h6 class="fw-medium">Cookies Position</h6>
  </div>
</div>
<div class="col-lg-3">
  <div class="mb-3">
    <mat-select placeholder="Select" class="select custom-mat-select">
      <mat-option value="1">Select</mat-option>
      <mat-option value="1">Right</mat-option>
      <mat-option value="1">Left</mat-option>
    </mat-select>
  </div>
</div>
</div>
<div class="row align-items-center">
<div class="col-lg-4">
  <div class="mb-3">
    <h6 class="fw-medium">Agree Button Text</h6>
  </div>
</div>
<div class="col-lg-3">
  <div class="mb-3">
    <input class="form-control" type="text">
  </div>
</div>
</div>
<div class="row align-items-center">
<div class="col-lg-4">
  <div class="mb-3">
    <h6 class="fw-medium">Decline Button Text</h6>
  </div>
</div>
<div class="col-lg-3">
  <div class="mb-3">
    <input class="form-control" type="text">
  </div>
</div>
</div>
<div class="row align-items-center">
<div class="col-lg-4">
  <div class="mb-3">
    <h6 class="fw-medium">Show Decline Button</h6>
  </div>
</div>
<div class="col-lg-3">
  <div class="form-check form-switch mb-0">
    <input class="form-check-input mb-3" type="checkbox" role="switch">
  </div>
</div>
</div>
<div class="row align-items-center">
<div class="col-lg-4">
  <div class="mb-3">
    <h6 class="fw-medium">Link for Cookies Page</h6>
  </div>
</div>
<div class="col-lg-8">
  <div class="mb-3">
    <input type="text" class="form-control">
  </div>
</div>
</div>												
</div>
</div>
          </div>
          <div class="d-flex align-items-center justify-content-end">
              <button type="button" class="btn btn-outline-light border me-3">Cancel</button>
              <button type="submit" class="btn btn-primary">Save</button>
          </div>
      </form>
  </div>
</div>