<!-- Add Note -->
<div class="modal fade" id="add_notes" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header header-border align-items-center justify-content-between">
        <h5 class="modal-title">Add New Note</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="mb-3">
            <label [htmlFor]="" class="form-label">Title <span class="text-danger"> *</span></label>
            <input class="form-control" type="text">
          </div>
          <div class="mb-3">
            <label [htmlFor]="" class="form-label">Note <span class="text-danger"> *</span></label>
            <textarea class="form-control" rows="4"></textarea>
          </div>
          <div class="mb-3">
            <label [htmlFor]="" class="form-label">Attachment <span class="text-danger"> *</span></label>
            <div class="d-flex align-items-center justify-content-center border border-dashed rounded p-3 flex-column">
              <span class="avatar avatar-lg avatar-rounded bg-primary-transparent mb-2"><i class="ti ti-folder-open fs-24"></i></span>
              <p class="fs-14 text-center mb-2">Drag and drop your files</p>
              <div class="file-upload position-relative btn btn-sm btn-primary px-3 mb-2">
                <i class="ti ti-upload me-1"></i>Upload
                <input type="file" accept="video/image">
              </div>
            </div>
          </div>
          <div class="mb-0">
            <label [htmlFor]="" class="form-label">Uploaded Files</label>
            <div class="border bg-light-500 rounded mb-3 p-3">
              <h6 class="fw-medium mb-1">Projectneonals teyys.xls</h6>
              <p class="mb-2">4.25 MB</p>
              <div class="progress progress-xs mb-2">
                <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>45%</p>
            </div>
            <div class="d-flex align-items-center justify-content-between bg-light-500 rounded p-3">
              <div>
                <h6 class="fw-medium mb-1">tes.txt</h6>
                <p>1.2 MB</p>
              </div>
              <a href="javascript:void(0);" class="btn btn-sm btn-icon text-danger"><i class="ti ti-trash fs-20"></i></a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex align-items-center justify-content-end m-0">
            <button type="button" class="btn btn-outline-light border me-2">Cancel</button>
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add Note -->

<!-- Add Call -->
<div class="modal fade" id="add_call" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header header-border align-items-center justify-content-between">
        <h5 class="modal-title">Create Call Log</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form >
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label [htmlFor]="" class="form-label">Status <span class="text-danger"> *</span></label>
                <mat-select placeholder="Select"  class="select custom-mat-select">
                    <mat-option value="1">Busy  </mat-option>
                    <mat-option value="1">Unavailable  </mat-option>
                    <mat-option value="1">No Answer  </mat-option>
                    <mat-option value="1">Wrong Number  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 .ngx-date19">
                <label [htmlFor]="" class="form-label">Followup Date <span class="text-danger"> *</span></label>
                <div class="input-icon-end position-relative">
                  <input
                    type="text"
                    class="form-control datetimepicker"
                    bsDatepicker
                    container=".ngx-date19"
                    [bsConfig]="{ adaptivePosition: true }"
                    placeholder="dd/mm/yyyy"
                    value="02-05-2024"
                  />
                  <span class="input-icon-addon">
                    <i class="ti ti-calendar text-gray-7"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label [htmlFor]="" class="form-label">Note <span class="text-danger"> *</span></label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check">
                <label [htmlFor]="" class="form-check-label" for="check">
                  Create a follow up task
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex align-items-center justify-content-end m-0">
            <button type="button" class="btn btn-outline-light border me-2">Cancel</button>
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add Call -->

<!-- Create File -->
<div class="modal fade" id="create_file" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header header-border align-items-center justify-content-between">
        <h5 class="modal-title">Create  New File</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="add-info-fieldset">
        <div class="add-details-wizard p-3 pb-0">
          <ul class="progress-bar-wizard d-flex align-items-center border-bottom">
            <li class="active p-2 pt-0">
              <h6 class="fw-medium">Basic Information</h6>
            </li>
            <li class="p-2 pt-0">
              <h6 class="fw-medium">Add Recipient</h6>
            </li>
          </ul>
        </div>
        <fieldset id="first-field-file">
          <form>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Choose Deal <span class="text-danger"> *</span></label>
                    <mat-select placeholder="Select"  class="select custom-mat-select">
                        <mat-option value="1">Select  </mat-option>
                        <mat-option value="1">Collins  </mat-option>
                        <mat-option value="1">Wisozk  </mat-option>
                        <mat-option value="1">Walter  </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Document Type <span class="text-danger"> *</span></label>
                    <mat-select placeholder="Select"  class="select custom-mat-select">
                        <mat-option value="1">Select  </mat-option>
                        <mat-option value="1">Contract  </mat-option>
                        <mat-option value="1">Proposal  </mat-option>
                        <mat-option value="1">Quote  </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Owner <span class="text-danger"> *</span></label>
                    <mat-select placeholder="Select"  class="select custom-mat-select">
                        <mat-option value="1">Select  </mat-option>
                        <mat-option value="1">Admin  </mat-option>
                        <mat-option value="1">Jackson Daniel  </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Title <span class="text-danger"> *</span></label>
                    <input class="form-control" type="text" placeholder="Enter Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-block mb-3">
                    <label [htmlFor]="" class="form-label">Locale <span class="text-danger"> *</span></label>
                    <mat-select placeholder="Select"  class="select custom-mat-select">
                        <mat-option value="1">Select  </mat-option>
                        <mat-option value="1">en  </mat-option>
                        <mat-option value="1">es  </mat-option>
                        <mat-option value="1">ru  </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Username <span class="text-danger"> *</span></label>
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Email <span class="text-danger"> *</span></label>
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3 ">
                    <label [htmlFor]="" class="form-label">Password <span class="text-danger"> *</span></label>
                    <div class="pass-group">
                      <input type="password" class="pass-input form-control">
                      <span class="ti toggle-password ti-eye-off"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3 ">
                    <label [htmlFor]="" class="form-label">Confirm Password <span class="text-danger"> *</span></label>
                    <div class="pass-group">
                      <input type="password" class="pass-inputs form-control">
                      <span class="ti toggle-passwords ti-eye-off"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Phone Number <span class="text-danger"> *</span></label>
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Company</label>
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="bg-light-500 rounded p-3 pb-0 mb-3">
                    <h4>Signature</h4>
                    <ul class="nav">
                      <li class="nav-item form-check form-check-md mb-2">
                        <span data-bs-toggle="tab" data-bs-target="#nosign">
                        <input type="radio" class="form-check-input mt-2" id="sign1" name="email">
                        <label [htmlFor]="" for="sign1" class="form-check-label"><span class="d-block fw-medium text-dark mb-1">No Signature</span>This document does not require a signature before acceptance.</label>
                      </span>
                      </li>
                      <li class="nav-item form-check form-check-md mb-2">
                        <span class="active mb-0" data-bs-toggle="tab" data-bs-target="#use-esign">
                          <input type="radio" class="form-check-input" id="sign2" name="email" checked>
                          <label [htmlFor]="" for="sign2" class="form-check-label"><span class="d-block fw-medium text-dark mb-1">Use e-signature</span>This document require e-signature before acceptance.</label>
                        </span>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade" id="nosign"></div>
                      <div class="tab-pane show active" id="use-esign">
                        <div class="mb-0">
                          <label [htmlFor]="" class="form-label">Document Signers <span class="text-danger"> *</span></label>
                        </div>
                        <div class="sign-content">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <input class="form-control" type="text">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="d-flex align-items-center mb-3">
                                <div class="flex-fill me-2">
                                  <input class="form-control" type="text">
                                </div>
                                <div>
                                  <a href="javascript:void(0);" class="btn btn-icon btn-sm add-sign text-primary"><i class="ti ti-circle-plus"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div>
                    <label [htmlFor]="" class="form-label">Content <span class="text-danger"> *</span></label>
                    <textarea class="form-control" rows="3" placeholder="Add Content"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-outline-light border me-2">Cancel</button>
                <button class="btn btn-primary wizard-next-btn" type="button">Next</button>
              </div>
            </div>
          </form>
        </fieldset>
        <fieldset>
          <form >
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="bg-light-500 rounded p-3 pb-0 mb-3">
                    <h4>Signature</h4>
                    <ul class="nav">
                      <li class="nav-item form-check form-check-md mb-2">
                        <span data-bs-toggle="tab" data-bs-target="#nosign2">
                        <input type="radio" class="form-check-input mt-2"  id="sign3" name="email">
                        <label [htmlFor]="" for="sign3" class="form-check-label"><span class="d-block fw-medium text-dark mb-1">No Signature</span>This document does not require a signature before acceptance.</label>
                      </span>
                      </li>
                      <li class="nav-item form-check form-check-md mb-2">
                        <span class="active mb-0" data-bs-toggle="tab" data-bs-target="#use-esign2">
                          <input type="radio" class="form-check-input" id="sign4" name="email" checked>
                          <label [htmlFor]="" for="sign4" class="form-check-label"><span class="d-block fw-medium text-dark mb-1">Use e-signature</span>This document require e-signature before acceptance.</label>
                        </span>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade" id="nosign2"></div>
                      <div class="tab-pane show active" id="use-esign2">
                        <div class="mb-0">
                          <label [htmlFor]="" class="form-label">Document Signers <span class="text-danger"> *</span></label>
                        </div>
                        <div class="sign-content">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <input class="form-control" type="text">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="d-flex align-items-center mb-3">
                                <div class="flex-fill me-2">
                                  <input class="form-control" type="text">
                                </div>
                                <div>
                                  <a href="javascript:void(0);" class="btn btn-icon btn-sm add-sign text-primary"><i class="ti ti-circle-plus"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Message Subject <span class="text-danger"> *</span></label>
                    <input class="form-control" type="text">
                  </div>
                  <div class="mb-3">
                    <label [htmlFor]="" class="form-label">Message Text <span class="text-danger"> *</span></label>
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                  <button type="button" class="btn btn-dark mb-3">Send Now</button>
                  <div class="border border-success bg-success-transparent p-3 rounded">
                    <p class="d-flex align-items-center"><i class="ti ti-circle-check fs-24 me-2"></i> Document Sent successfully to the Selected Recipients</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-outline-light border me-2">Cancel</button>
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Save & Next</button>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<!-- /Create File -->

<!-- Connect Account -->
<div class="modal fade" id="connect_account" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header header-border align-items-center justify-content-between">
        <h5 class="modal-title">Connect Account</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label [htmlFor]="" class="form-label">Account Type <span class="text-danger"> *</span></label>
                <mat-select placeholder="Select"  class="select custom-mat-select">
                    <mat-option value="1">Select  </mat-option>
                    <mat-option value="1">Gmail  </mat-option>
                    <mat-option value="1">Outlook  </mat-option>
                    <mat-option value="1">Imap  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-12">
              <div>
                <p class="text-dark fw-medium mb-2">Sync emails from</p>
                <div class="form-check form-check-md mb-2">
                  <input type="radio" class="form-check-input" id="email_1" name="email">
                  <label [htmlFor]="" for="email_1" class="form-check-label text-dark">Now</label>
                </div>
                <div class="form-check form-check-md mb-2">
                  <input type="radio" class="form-check-input" id="email_2" name="email">
                  <label [htmlFor]="" for="email_2" class="form-check-label text-dark">1 month ago</label>
                </div>
                <div class="form-check form-check-md mb-2">
                  <input type="radio" class="form-check-input" id="email_3" name="email">
                  <label [htmlFor]="" for="email_3" class="form-check-label text-dark">3 months ago</label>
                </div>
                <div class="form-check form-check-md">
                  <input type="radio" class="form-check-input" id="email_4" name="email">
                  <label [htmlFor]="" for="email_4" class="form-check-label text-dark">6 months ago</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex align-items-center justify-content-end m-0">
            <button class="btn btn-outline-light border me-2" type="button" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#success_modal">Connect Account</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Connect Account -->

<!-- Connect Account Success -->
<div class="modal fade" id="success_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center p-3">
          <span class="avatar avatar-lg avatar-rounded bg-success mb-3"><i class="ti ti-check fs-24"></i></span>
          <h5 class="mb-2">Email Connected Successfully!!!</h5>
          <p class="mb-3">Email Account is configured with <span class="d-block text-dark">“example&#64;example.com”. </span>
            Now you can access email.
          </p>
          <a [routerLink]="routes.email" class="btn btn-primary w-100">Go to Email</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Connect Account Success -->
