<div class="card">
  <div class="card-header px-0 mx-3">
      <div class="row g-3 align-items-center">
          <div class="col-md-6 col-sm-4">
              <h4>Custom CSS</h4>
          </div>
      </div>
  </div>
<div class="card-body">
      <h5 class="mb-3">Write Custom CSS</h5>
      <div class="bg-dark text-gray-5">
<pre class="language-markup mb-0">
<code class="language-markup mb-0">
.section-header &#123;
margin-bottom: 50px;
&#125;
.section-header h2&#123;
font-size: 36px;
font-weight: 700;
color: #0A0A0A;
margin-bottom: 14px;
&#125;
.section-header h5 &#123;
font-size: 18px;
color: #680A83;
font-weight: 600;
text-align: center;
margin-bottom: 8px;
&#125;
</code>
</pre>
      </div>
      <div class="d-flex align-items-center justify-content-end border-top mt-3 pt-3">
          <button type="button" class="btn btn-outline-light border me-3">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
      </div>
  </div>
</div>
