<div class="card">
  <div class="card-body">
    <div class="border-bottom mb-3 pb-3">
      <h4>SEO Settings</h4>
    </div>
    <form>
      <div class="border-bottom mb-3">
        <div class="row">
          <div class="col-md-12">
            <div class="row align-items-center mb-3">
              <div class="col-xxl-2 col-md-3">
                <label [htmlFor]="" class="form-label mb-md-0">Meta Title</label>
              </div>
              <div class="col-xxl-10 col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row align-items-center mb-3">
              <div class="col-xxl-2 col-md-3">
                <label [htmlFor]="" class="form-label mb-md-0">Meta Keywords</label>
              </div>
              <div class="col-xxl-10 col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row align-items-start mb-3">
              <div class="col-xxl-2 col-md-3">
                <label [htmlFor]="" class="form-label mb-md-0">Meta Description</label>
              </div>
              <div class="col-xxl-10 col-md-9">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row align-items-center mb-3">
              <div class="col-xxl-2 col-md-3">
                <label [htmlFor]="" class="form-label mb-md-0">Canonical Url</label>
              </div>
              <div class="col-xxl-10 col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row align-items-center mb-3">
              <div class="col-xxl-2 col-md-3">
                <label [htmlFor]="" class="form-label mb-md-0">Og Title</label>
              </div>
              <div class="col-xxl-10 col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row align-items-start mb-3">
              <div class="col-xxl-2 col-md-3">
                <label [htmlFor]="" class="form-label mb-md-0">Og Description</label>
              </div>
              <div class="col-xxl-10 col-md-9">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
                                <div class="col-md-12 d-flex align-items-start">
                                    <div class="col-xxl-2 col-md-3">
                                        <label [htmlFor]="" class="form-label mb-md-0">Og Image</label>
                                    </div>
            <div class="col-xxl-10 col-md-9">
                                        <div class="d-flex align-items-center flex-wrap row-gap-3 bg-light w-100 rounded p-3 mb-4">
                                            <div class="d-flex align-items-center justify-content-center og-upload bg-white rounded border border-dashed me-2 flex-shrink-0 text-dark frames">
                                                <i class="ti ti-photo text-gray-3 fs-16"></i>
                                            </div>
                                            <div class="profile-upload">
                                                <div class="mb-2">
                                                    <h6 class="mb-1">OG Image</h6>
                                                    <p class="fs-12">Recommended image size is 40px x 40px</p>
                                                </div>
                                                <div class="profile-uploader d-flex align-items-center">
                                                    <div class="drag-upload-btn btn btn-sm btn-primary me-2">
                                                        Upload
                                                        <input type="file" class="form-control image-sign" multiple="">
                                                    </div>
                                                    <a href="javascript:void(0);" class="btn btn-light btn-sm">Cancel</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-outline-light border me-3">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
