<div class="page-wrapper">
	<div class="content">

		<!-- Breadcrumb -->
		<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
			<app-breadcrumbs title="Profile" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
			<div class="ms-2 head-icons" tabindex="0">
                <app-collapse-header/>
            </div>
		</div>
		<!-- /Breadcrumb -->

		<div class="card">
			<div class="card-body">
				<div class="border-bottom mb-3 pb-3">
					<h4>Profile </h4>
				</div>
				<form >
					<div class="border-bottom mb-3">
						<div class="row">
							<div class="col-md-12">
								<div>
									<h6 class="mb-3">Basic Information</h6>
									<div class="d-flex align-items-center flex-wrap row-gap-3 bg-light w-100 rounded p-3 mb-4">
										<div class="d-flex align-items-center justify-content-center avatar avatar-xxl rounded-circle border border-dashed me-2 flex-shrink-0 text-dark frames">
											<i class="ti ti-photo text-gray-3 fs-16"></i>
										</div>
										<div class="profile-upload">
											<div class="mb-2">
												<h6 class="mb-1">Profile Photo</h6>
												<p class="fs-12">Recommended image size is 40px x 40px</p>
											</div>
											<div class="profile-uploader d-flex align-items-center">
												<div class="drag-upload-btn btn btn-sm btn-primary me-2">
													Upload
													<input type="file" class="form-control image-sign" multiple="">
												</div>
												<a href="javascript:void(0);" class="btn btn-light btn-sm">Cancel</a>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="row align-items-center mb-3">
									<div class="col-md-4">
										<label [htmlFor]="" class="form-label mb-md-0">First Name</label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row align-items-center mb-3">
									<div class="col-md-4">
										<label [htmlFor]="" class="form-label mb-md-0">Last Name</label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row align-items-center mb-3">
									<div class="col-md-4">
										<label [htmlFor]="" class="form-label mb-md-0">Email</label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row align-items-center mb-3">
									<div class="col-md-4">
										<label [htmlFor]="" class="form-label mb-md-0">Phone</label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="border-bottom mb-3">
						<h6 class="mb-3">Address Information</h6>
						<div class="row">
							<div class="col-md-12">
								<div class="row align-items-center mb-3">
									<div class="col-md-2">
										<label [htmlFor]="" class="form-label mb-md-0">Address</label>
									</div>
									<div class="col-md-10">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row align-items-center mb-3">
									<div class="col-md-4">
										<label [htmlFor]="" class="form-label mb-md-0">Country</label>
									</div>
									<div class="col-md-8">
										<mat-select placeholder="Select" class="select custom-mat-select">
											<mat-option value="1">Select</mat-option>
											<mat-option value="1">USA</mat-option>
											<mat-option value="1">Canada</mat-option>
											<mat-option value="1">Germany</mat-option>
											<mat-option value="1">France</mat-option>
										  </mat-select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row align-items-center mb-3">
									<div class="col-md-4">
										<label [htmlFor]="" class="form-label mb-md-0">State</label>
									</div>
									<div class="col-md-8">
										<div>
											<mat-select class="select custom-mat-select" placeholder="Select">
												<mat-option value="1">Select</mat-option>
                      <mat-option value="1">California</mat-option>
                      <mat-option value="1">New York</mat-option>
                      <mat-option value="1">Texas</mat-option>
                      <mat-option value="1">Florida</mat-option>
											</mat-select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row align-items-center mb-3">
									<div class="col-md-4">
										<label [htmlFor]="" class="form-label mb-md-0">City</label>
									</div>
									<div class="col-md-8">
										<div>
											<mat-select class="select custom-mat-select" placeholder="Select">
												<mat-option value="1">Select</mat-option>
												<mat-option value="1">Los Angeles</mat-option>
												<mat-option value="1">San Diego</mat-option>
												<mat-option value="1">Fresno</mat-option>
												<mat-option value="1">San Francisco</mat-option>
											</mat-select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row align-items-center mb-3">
									<div class="col-md-4">
										<label [htmlFor]="" class="form-label mb-md-0">Postal Code</label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="border-bottom mb-3">
						<h6 class="mb-3">Change Password</h6>
						<div class="row">
							<div class="col-md-4">
								<div class="row align-items-center mb-3">
									<div class="col-md-5">
										<label [htmlFor]="" class="form-label mb-md-0">Current Password</label>
									</div>
									<div class="col-md-7">
										<div class="pass-group">
                      <input
                        [type]="password[0] ? 'text' : 'password'"
                          class="pass-input form-control"
                          tabindex="0"
                          placeholder="Password"
                        />
                        <span
                          class="ti toggle-password"
                          [ngClass]="password[0] ? 'ti-eye' : 'ti-eye-off'"
                          (click)="togglePassword(0)"
                          (keydown.enter)="togglePassword(0)"
                          tabindex="0"
                        ></span>

										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row align-items-center mb-3">
									<div class="col-md-5">
										<label [htmlFor]="" class="form-label mb-md-0">New Password</label>
									</div>
									<div class="col-md-7">
										<div class="pass-group">
											<input
                        [type]="password[1] ? 'text' : 'password'"
                          class="pass-input form-control"
                          tabindex="0"
                          placeholder="Password"
                        />
                        <span
                          class="ti toggle-password"
                          [ngClass]="password[1] ? 'ti-eye' : 'ti-eye-off'"
                          (click)="togglePassword(1)"
                          (keydown.enter)="togglePassword(1)"
                          tabindex="0"
                        ></span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row align-items-center mb-3">
									<div class="col-md-5">
										<label [htmlFor]="" class="form-label mb-md-0">Confirm Password</label>
									</div>
									<div class="col-md-7">
										<div class="pass-group">
											<input
                        [type]="password[2] ? 'text' : 'password'"
                          class="pass-input form-control"
                          tabindex="0"
                          placeholder="Password"
                        />
                        <span
                          class="ti toggle-password"
                          [ngClass]="password[2] ? 'ti-eye' : 'ti-eye-off'"
                          (click)="togglePassword(2)"
                          (keydown.enter)="togglePassword(2)"
                          tabindex="0"
                        ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-end">
						<button type="button" class="btn btn-outline-light border me-3">Cancel</button>
						<button type="button" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
