<!-- Add Project -->
<div class="modal fade" id="add_project" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header header-border align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h5 class="modal-title me-2">Add Project </h5>
          <p class="text-dark">Project ID : PRO-0004</p>
        </div>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="add-info-fieldset ">
        <div class="contact-grids-tab p-3 pb-0">
          <ul class="nav nav-underline" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="basic-tab" data-bs-toggle="tab" data-bs-target="#basic-info" type="button" role="tab" aria-selected="true">Basic Information</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="member-tab" data-bs-toggle="tab" data-bs-target="#member" type="button" role="tab" aria-selected="false">Members</button>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="basic-info" role="tabpanel" aria-labelledby="basic-tab" tabindex="0">
            <form>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center flex-wrap row-gap-3 bg-light w-100 rounded p-3 mb-4">
                      <div class="d-flex align-items-center justify-content-center avatar avatar-xxl rounded-circle border border-dashed me-2 flex-shrink-0 text-dark frames">
                        <i class="ti ti-photo text-gray-2 fs-16"></i>
                      </div>
                      <div class="profile-upload">
                        <div class="mb-2">
                          <h6 class="mb-1">Upload Project Logo</h6>
                          <p class="fs-12">Image should be below 4 mb</p>
                        </div>
                        <div class="profile-uploader d-flex align-items-center">
                          <div class="drag-upload-btn btn btn-sm btn-primary me-2">
                            Upload
                            <input type="file" class="form-control image-sign" multiple="">
                          </div>
                          <a href="javascript:void(0);" class="btn btn-light btn-sm">Cancel</a>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Project Name</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Client</label>
                      <mat-select placeholder="Select"  class="select custom-mat-select">
                        <mat-option value="1">Select  </mat-option>
                        <mat-option value="1">Anthony Lewis  </mat-option>
                        <mat-option value="1">Brian Villalobos  </mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Start Date</label>
                          <div class="input-icon-end position-relative ngxdate">
                            <input type="text" class="form-control datetimepicker" bsDatepicker container=".ngxdate" placeholder="dd/mm/yyyy" value="02-05-2024">
                            <span class="input-icon-addon">
                              <i class="ti ti-calendar text-gray-7"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">End Date</label>
                          <div class="input-icon-end position-relative ngxdate2">
                            <input type="text" class="form-control datetimepicker" bsDatepicker container=".ngxdate2" placeholder="dd/mm/yyyy" value="02-05-2024">
                            <span class="input-icon-addon">
                              <i class="ti ti-calendar text-gray-7"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label">Priority</label>
                          <mat-select placeholder="Select"  class="select custom-mat-select">
                            <mat-option value="1">Select  </mat-option>
                            <mat-option value="1">High  </mat-option>
                            <mat-option value="1">Medium  </mat-option>
                            <mat-option value="1">Low  </mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label">Project Value</label>
                          <input type="text" class="form-control" value="$">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label">Price Type</label>
                          <input type="text" class="form-control" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Description</label>
                      <ngx-editor [editor]="editor">
                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" >
                        </ngx-editor-menu>
                      </ngx-editor>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-block mb-0">
                      <label class="form-label">Upload Files</label>
                      <input class="form-control" type="file">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                  <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save</button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="member" role="tabpanel" aria-labelledby="member-tab" tabindex="0">
            <form>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label me-2">Team Members</label>
                      <tag-input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="values" name="values"></tag-input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label me-2">Team Leader</label>
                      <tag-input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="values2" name="values2"/>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label me-2">Project Manager</label>
                      <tag-input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="values3" name="values3"></tag-input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div>
                      <label class="form-label">Tags</label>
                      <tag-input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="values4" name="values4"></tag-input>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Status</label>
                      <mat-select placeholder="Select"  class="select custom-mat-select">
                        <mat-option value="1">Select  </mat-option>
                        <mat-option value="1">Active  </mat-option>
                        <mat-option value="1">Inactive  </mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                  <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#success_modal">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Add Project -->

<!-- Edit Project -->
<div class="modal fade" id="edit_project" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header header-border align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h5 class="modal-title me-2">Edit Project </h5>
          <p class="text-dark">Project ID : PRO-0004</p>
        </div>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="add-info-fieldset ">
        <div class="contact-grids-tab p-3 pb-0">
          <ul class="nav nav-underline" id="myTab1" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="basic-tab1" data-bs-toggle="tab" data-bs-target="#basic-info1" type="button" role="tab" aria-selected="true">Basic Information</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="member-tab1" data-bs-toggle="tab" data-bs-target="#member1" type="button" role="tab" aria-selected="false">Members</button>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent1">
          <div class="tab-pane fade show active" id="basic-info1" role="tabpanel" aria-labelledby="basic-tab1" tabindex="0">
            <form>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center flex-wrap row-gap-3 bg-light w-100 rounded p-3 mb-4">
                      <div class="d-flex align-items-center justify-content-center avatar avatar-xxl rounded-circle border border-dashed me-2 flex-shrink-0 text-dark frames">
                        <i class="ti ti-photo text-gray-2 fs-16"></i>
                      </div>
                      <div class="profile-upload">
                        <div class="mb-2">
                          <h6 class="mb-1">Upload Project Logo</h6>
                          <p class="fs-12">Image should be below 4 mb</p>
                        </div>
                        <div class="profile-uploader d-flex align-items-center">
                          <div class="drag-upload-btn btn btn-sm btn-primary me-2">
                            Upload
                            <input type="file" class="form-control image-sign" multiple="">
                          </div>
                          <a href="javascript:void(0);" class="btn btn-light btn-sm">Cancel</a>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Project Name</label>
                      <input type="text" class="form-control" value="Office Management">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Client</label>
                      <mat-select placeholder="Anthony Lewis "  class="select custom-mat-select">
                        <mat-option value="1">Select  </mat-option>
                        <mat-option value="1">Anthony Lewis  </mat-option>
                        <mat-option value="1">Brian Villalobos  </mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Start Date</label>
                          <div class="input-icon-end position-relative">
                            <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" value="02-05-2024">
                            <span class="input-icon-addon">
                              <i class="ti ti-calendar text-gray-7"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">End Date</label>
                          <div class="input-icon-end position-relative">
                            <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" value="02-05-2024">
                            <span class="input-icon-addon">
                              <i class="ti ti-calendar text-gray-7"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label">Priority</label>
                          <mat-select placeholder="Select"  class="select custom-mat-select">
                            <mat-option value="1">Select  </mat-option>
                            <mat-option value="1">High  </mat-option>
                            <mat-option value="1">Medium  </mat-option>
                            <mat-option value="1">Low  </mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label">Project Value</label>
                          <input type="text" class="form-control" value="$">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label">Price Type</label>
                          <input type="text" class="form-control" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Description</label>
                      <ngx-editor [editor]="editor1">
                        <ngx-editor-menu [editor]="editor1" [toolbar]="toolbar" >
                        </ngx-editor-menu>
                      </ngx-editor>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-block mb-0">
                      <label class="form-label">Upload Files</label>
                      <input class="form-control" type="file">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                  <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save</button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="member1" role="tabpanel" aria-labelledby="member-tab1" tabindex="0">
            <form>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label me-2">Team Members</label>
                      <tag-input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="values" name="values"></tag-input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label me-2">Team Leader</label>
                      <tag-input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="values2" name="values2"></tag-input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label me-2">Project Manager</label>
                      <tag-input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="values3" name="values3"></tag-input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div>
                      <label class="form-label">Tags</label>
                      <tag-input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="values4" name="values4"></tag-input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Status</label>
                      <mat-select placeholder="Active"  class="select custom-mat-select">
                        <mat-option value="1">Select  </mat-option>
                        <mat-option value="1">Active  </mat-option>
                        <mat-option value="1">Inactive  </mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                  <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#success_modal">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Edit Project -->
<!-- Add Project Success -->
<div class="modal fade" [ngClass]="isOpen?'show':''" id="success_modal" [style.display]="isOpen?'block':'none'" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center p-3">
          <span class="avatar avatar-lg avatar-rounded bg-success mb-3"><i class="ti ti-check fs-24"></i></span>
          <h5 class="mb-2">Project Added Successfully</h5>
          <p class="mb-3">Stephan Peralt has been added with Project ID : <span class="text-primary">#pro - 004</span>
        </p>
        <div>
          <div class="row g-2">
            <div class="col-6">
              <a [routerLink]="routes.projectList" (click)="openSuccessModal()" class="btn btn-dark w-100">Back to List</a>
            </div>
            <div class="col-6">
              <a [routerLink]="routes.projectDetails" (click)="openSuccessModal()" class="btn btn-primary w-100">Detail Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /Add Client Success -->
@if (isOpen) {
  <ng-container (click)="openSuccessModal()">
    <div class="modal-backdrop fade show"></div>
  </ng-container>
}
