/* General styles for the form */
.needs-validation {
    margin: 20px;
  }
  
  /* Styles for valid inputs */
  .is-valid {
    border-color: #28a745;
  }
  
  .is-valid:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }
  
  .valid-feedback {
    display: none;
  }
  
  .is-valid ~ .valid-feedback {
    display: block;
    color: #28a745;
  }
  
  /* Styles for invalid inputs */
  .is-invalid {
    border-color: #dc3545;
  }
  
  .is-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
  
  .invalid-feedback {
    display: none;
  }
  
  .is-invalid ~ .invalid-feedback {
    display: block;
    color: #dc3545;
  }
  
  /* Custom styles for the input-group */
  .input-group .input-group-text {
    border-color: inherit;
  }
  
  .input-group .form-control.is-valid ~ .input-group-text {
    border-color: #28a745;
    color: #28a745;
  }
  
  .input-group .form-control.is-invalid ~ .input-group-text {
    border-color: #dc3545;
    color: #dc3545;
  }

  .invalid-tooltip {
    color: white;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    
  }
  // .invalid-tooltip{
  //   width:50%;
  // }
.invalid-tooltip,.valid-tooltip{
position: relative;
top: 0;
}
.needs-validation{
 margin: 0 !important;
}
