<div class="card">
  <div class="card-header px-0 mx-3">
      <div class="d-flex align-items-center justify-content-between">
          <h4>Clear Cache</h4>
      </div>
  </div>
  <div class="card-body pb-0 ">
      <div class="cache-content">
          <p class="fs-14 text-dark mb-3"> <span class="me-2"><i class="ti ti-info-circle text-danger"></i></span>Clearing the cache may improve performance but will remove temporary files, stored preferences, and cached data from websites and applications.</p>
          <div class="d-flex align-items-center justify-content-end mb-3">
              <a href="javascript:void(0);" class="btn btn-outline-primary me-3">Cancel</a>
              <a href="javascript:void(0);" class="btn btn-primary">Clear Cache</a>
          </div>
      </div>
  </div>
</div>