<div class="container-fuild">
    <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-lg-flex align-items-center justify-content-center d-none flex-wrap vh-100 bg-primary-transparent">
                    <div>
                        <img src="assets/img/bg/authentication-bg-06.svg" alt="Img">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
                    <div class="col-md-7 mx-auto vh-100">
                        <form class="vh-100">
                            <div class="vh-100 d-flex flex-column justify-content-between p-4 pb-0">
                                <div class=" mx-auto mb-5 text-center">
                                    <img src="assets/img/logo.svg"
                                        class="img-fluid" alt="Logo">
                                </div>
                                <div class="">
                                    <div class="text-center mb-3">
                                        <h2 class="mb-2">Reset Password</h2>
                                        <p class="mb-0">Your new password must be different from previous used
                                            passwords.</p>
                                    </div>
                                    <div>
                                        <div class="input-block mb-3">
                                            <div class="mb-3">
                                                <label for="password">Password</label>
                                                <div id="passwordInput" class="form-group">
                                                    <div class="pass-group mb-3">
                                                        <input
                                                      [type]="password[0] ? 'text' : 'password'"
                                                      id="password"
                                                      class="pass-input form-control"
                                                      (input)="checkPasswordStrength($event)"
                                                    />
                                                    <span class="ti toggle-password"
                                                        [ngClass]="password[0] ? 'ti-eye' : 'ti-eye-off'"
                                                        (click)="togglePassword(0)"
                                                        (keydown.enter)="togglePassword(0)"
                                                        tabindex="0"
                                                        ></span>
                                                    </div>
                                                    <div id="passwordStrength" class="strength-meter" [ngClass]="{'poor-active':strengthLevel === 'poor','avg-active':strengthLevel === 'weak','strong-active':strengthLevel === 'strong','heavy-active':strengthLevel === 'heavy'}" >
                                                      <span id="poor" [ngClass]="{'active': strengthLevel === 'poor'||strengthLevel === 'weak'||strengthLevel === 'strong'||strengthLevel === 'heavy'}"></span>
                                                      <span id="weak" [ngClass]="{'active': strengthLevel === 'weak'||strengthLevel === 'strong'||strengthLevel === 'heavy'}"></span>
                                                      <span id="strong" [ngClass]="{'active': strengthLevel === 'strong'||strengthLevel === 'heavy'}"></span>
                                                      <span id="heavy" [ngClass]="{'active': strengthLevel === 'heavy'}"></span>
                                                    </div>
                                                   
                                                  </div>
                                                  
                                            </div>
                                            <p id="passwordInfo" class="fs-12">
                                                Use 8 or more characters with a mix of letters, numbers &
                                                symbols.
                                            </p>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Confirm Password</label>
                                            <div class="pass-group">
                                                <input
                                                [type]="password[1] ? 'text' : 'password'"
                                                class="pass-input form-control"
                                              />
                                              <span
                                                class="ti toggle-password"
                                                [ngClass]="password[1] ? 'ti-eye' : 'ti-eye-off'"
                                                (click)="togglePassword(1)"
                                                (keydown.enter)="togglePassword(1)"
                                                tabindex="0"
                                              ></span>
                                              </div>
                                        </div>
                                        <div class="mb-3">
                                            <a [routerLink]="routes.success2" class="btn btn-primary w-100">Submit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 pb-4 text-center">
                                    <p class="mb-0 text-gray-9">Copyright &copy; 2026 - Smarth</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>