<div class="mb-3">
    <label for="password">Password</label>
    <div id="passwordInput" class="form-group">
        <div class="pass-group mb-3">
            <input
          [type]="password[1] ? 'text' : 'password'"
          id="password"
          class="pass-input form-control"
          (input)="checkPasswordStrength($event)"
        />
        <span class="ti toggle-password"
            [ngClass]="password[1] ? 'ti-eye' : 'ti-eye-off'"
            (click)="togglePassword(1)"
            (keydown.enter)="togglePassword(1)"
            tabindex="0"
            ></span>
        </div>
        <div id="passwordStrength" class="strength-meter" [ngClass]="{'poor-active':strengthLevel === 'poor','avg-active':strengthLevel === 'weak','strong-active':strengthLevel === 'strong','heavy-active':strengthLevel === 'heavy'}" >
          <span id="poor" [ngClass]="{'active': strengthLevel === 'poor'||strengthLevel === 'weak'||strengthLevel === 'strong'||strengthLevel === 'heavy'}"></span>
          <span id="weak" [ngClass]="{'active': strengthLevel === 'weak'||strengthLevel === 'strong'||strengthLevel === 'heavy'}"></span>
          <span id="strong" [ngClass]="{'active': strengthLevel === 'strong'||strengthLevel === 'heavy'}"></span>
          <span id="heavy" [ngClass]="{'active': strengthLevel === 'heavy'}"></span>
        </div>
       
      </div>
      
</div>
<p id="passwordInfo" class="fs-12">
    Use 8 or more characters with a mix of letters, numbers &
    symbols.
</p>