.layout-mode-rtl {
  .me-auto {
    margin-right: unset !important;
    margin-left: auto !important;
  }
  .me-2 {
    margin-right: 0 !important;
    margin-left: .5rem !important;
}
  .ms-2 {
    margin-left: 0 !important;
    margin-right: .5rem !important;
}
.sidebar .sidebar-menu > ul > li ul {
  direction: rtl;
}
.sidebar .sidebar-menu > ul li.menu-title {
  justify-content: end;
}
}
.mini-sidebar{
  .submenu .show-sub-menu{
    display: none !important;
  }
}
.mini-sidebar.expand-menu{
  .submenu .show-sub-menu{
    display: block !important;
  }
}