<div class="card">
  <div class="card-body">
    <div class="border-bottom mb-3 pb-3">
      <h4>Prefixes</h4>
    </div>
    <form>
      <div class="border-bottom mb-3">
        <div class="row">
          <div class="col-md-6">
            <div class="row align-items-center mb-3">
              <div class="col-md-6">
                <label class="form-label mb-md-0">Employee</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" value="EMP-">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center mb-3">
              <div class="col-md-6">
                <label class="form-label mb-md-0">Clients</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" value="CLI-">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center mb-3">
              <div class="col-md-6">
                <label class="form-label mb-md-0">Invoice</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" value="INV-">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center mb-3">
              <div class="col-md-6">
                <label class="form-label mb-md-0">Tickets</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" value="TIC-">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center mb-3">
              <div class="col-md-6">
                <label class="form-label mb-md-0">Candidate</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" value="CAND-">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center mb-3">
              <div class="col-md-6">
                <label class="form-label mb-md-0">Job</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" value="JOB-">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center mb-3">
              <div class="col-md-6">
                <label class="form-label mb-md-0">Referral</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" value="REF-">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center mb-3">
              <div class="col-md-6">
                <label class="form-label mb-md-0">Assets</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" value="AST-">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-outline-light border me-3">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
